.nav_list{
    list-style: none;
}
.nav_list > li{
    display: inline-block;
    margin-right: 45px;
}
.nav_list > li:last-child{
    margin-right: 0;
}
.nav_list > li > a{
    text-decoration: none;
    color:#ffffff;
    position: relative;
    display: block;
    z-index: 98;
}
.ul_level_2{
    background-color: black;
    list-style: none;
    position: absolute;
    width: 160px;
    padding: 15px 10px 15px 30px;
    top: 22px;
    display: none;
    z-index: 99;
}
.ul_level_2 > li{
    margin-bottom: 10px;
}
.nav_list > li > a:hover .ul_level_2{
    display: block;
}
.ul_level_2 a{
    text-decoration: none;
    color:white;
}