.header{
    background-color: #0f0f1e;
    padding: 6px 0;
}
.header_logo img{
    width: 80px;
    height: 56px;
}
.container{
    max-width: 1540px;
    margin: 0 auto;
}
.header_item{
    display: grid;
    grid-template-columns: 1fr 1fr;
}